/* shared styles */
* {
    margin: 0;
    padding: 0;
}

/* shared style end */

/* container part one start */
.section-title {
    color: #3A3A3A;
}

header {
    margin-top: 80px;
    margin-left: 120px;
    margin-right: 120px;
    margin-bottom: 80px;
    font-size: 24px;
}

.text-color {
    color: #3A3A3A;
    ;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav>ul {
    display: flex;
}

nav li {
    list-style: none;
    margin-right: 30px;
    font-weight: 700;
    font-size: 1rem;
}

nav li a {
    text-decoration: none;
    color: #3A3A3A;
    font-size: 16px;

}

/* container part one end */

/* container part two start */
.contant {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.title {
    width: 600px;
    height: 150px;
    color: #3A3A3A;
    font-size: 52px;
    font-weight: 700;

}

/* .text{
    margin-top: 3px;

} */

.btn-primary {
    border: none;
    border-radius: 50px;
    background: #E02C6D;
    color: #FFF;
    font-size: 16px;
    /* font-weight: 700; */
    width: 125px;
    height: 40px;
    margin-top: 10px;
    align-items: center;
}

.img-styles {
    background-image: url(images/Circle\ design.svg);
    background-repeat: no-repeat;

}

/* container part two end */

/* container part three start */
.logo-items {
    display: flex;
    margin-top: 50px;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 30px;


}

/* container part three end */

/* container part fourth start */

.text-style {
    /* align-items: center; */
    text-align: center;
    color: #3A3A3A;
    margin-top: 50px;

}

#text{
    text-align: left;
}


.card-styles {
    margin-top: 10px;
    display: inline-grid;
    grid-template-columns: auto auto auto;
    padding: 10px;
    gap: 10px;
    justify-content: center;
    justify-items: center;
    align-items: center;

}

.cart-design {
    border-radius: 8px;
    background: #FFF;
    box-shadow: 0px 0px 40px 0px rgba(0, 0, 0, 0.15);
    padding: 15px;
}

.icon-styles{
    margin: 20px;
    text-align: right;
    /* align-items: center; */
    color: rgba(224, 44, 109, 0.87);
    grid-column-end: span 3;

}




/* container part fourth end */

/* container part fifth start */

.text-img-styles {
     margin-top: 50px;
    display: flex;
    gap:50px;
    justify-content: center;
    justify-items: center;
    align-items: center;   

}

.text1 {
    color: #0A0826;

}

.text2 {
    margin-top: 10px;
    color: #6C6C6C;
}



/* container part fifth end */

/* footer styles part start */
.footer-items {
    margin: 80px;
}

.footer-styles {
    /* margin-top: 50px; */
    text-align: center;
    background-color: #0A0826;
    color: white;

}

.footer-styles,
#icons {
    margin-top: 16px;
    padding: 16px;
}

.text{
    margin-top: 5px;
    text-align: center;
}

/* footer styles part end */


 /* responsive media quary */
 /* smaller device mobile phone */
 @media screen and (max-width:576px){
    .header{
        grid-template-columns: repeat(1, 1fr);
    }
    
 }